venv/
test_venv/
__pycache__/
build/
dist/
*.pyc
*.pyo
*.pyd
.Python
/lib/
/include/
/bin/
/share/
*.egg-info/
debian/aenux
debian/.debhelper
debian/files
debian/source
debian/substvars
debian/tmp
*.deb
